/* App.css */
html {
  scroll-behavior: smooth;
}

.Navbar {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 12px 20px;
  box-shadow: 0 2px 4px rgba(0, 0);
}
.page-content {
  margin-top: 100px; /* Adjust based on navbar height */
  padding: 20px;
}

body {
  background-color: white;
  margin: 0;
}

.page-title h2 {
  color: black;
  font-size: 2.2em;
  text-align: center;
  margin-top: auto;
}
